
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <link href="/public/css/bootstrap_5.3.2.css" rel="stylesheet">
     <link rel="stylesheet" href="/public/css/font_awesome.css"/>
     <link rel="stylesheet" href="/public/css/invoice.css">
</head>

<body class="bg-primary">
    <% if(invoiceData.length > 0) {%>

    <div class="container invoice-container">
        <div class="row">
            <div class="col-md-3">
               <img src="/uploads/<%=invoiceData[0].fileUpload %>" height="100px" width="100px" alt="">
            </div>
            <div class="col-md-9"> 
                <div class="invoice-header text-start ms-5">
                    <h2 class="">New Book Enrollment Invoice </h2><br>
                        <h2>Invoice Id-:<%=invoiceData[0].userId %></h2>
                </div>
            </div>
           
        </div>
        

        <div class="invoice-details">
            <div class="row">
                <div class="col-md-6">
                    <h5>Billed To:</h5>
                    <p><%= invoiceData[0].username%><br>Email -: <%= invoiceData[0].email%><br>ADDRESS</p>
                </div>
                <div class="col-md-6">
                    <h5>Invoice Date:</h5>
                    <p><%=date%></p>
                </div>
            </div>
        </div>

        <table class="table table-bordered invoice-table">
            <thead>
                <tr>
                    <th>NAME</th>   
                    <td><%= invoiceData[0].username%></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>EMAIL</th>
                    <td><%= invoiceData[0].email%></td>
                </tr>
                <tr>
                    <th>AGE</th>   
                    <td><%= invoiceData[0].age%></td>
                </tr>
                <tr>
                    <th>Subscription Valid upto</th>   
                    <td><%=date+35%></td>
                </tr>
                
            </tbody>
        </table>

        <div class="text-end">
            <p>Payment due by: <%=date%></p>
        </div>
    </div>

    <% } else {%>
    

    <div class="bg-danger display-3" >
        NO DATA AVALIABLE</div>
    <% } %>

    

  
    <script src="/public/js/invoice.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
